@{
    ViewBag.Title = "订单人员明细管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Areas/LR_CodeDemo/Views/orderUsersDetail/Form.css")
<div class="lr-form-wrap"  id="form">
    <div class="col-xs-12 lr-form-item"  data-table="LR_Base_TempUser" >
        <div class="lr-form-item-title">姓名<font face="宋体">*</font></div>
        <input id="F_RealName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Base_TempUser" >
        <div class="lr-form-item-title">性别<font face="宋体">*</font></div>
        <div id="F_Gender"  isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Base_TempUser" >
        <div class="lr-form-item-title">身份证号<font face="宋体">*</font></div>
        <input id="F_Identity" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Base_TempUser" >
        <div class="lr-form-item-title">工种<font face="宋体">*</font></div>
        <div id="F_EmployerTypeId" isvalid="yes" checkexpession="NotNull" ></div>
    </div>
    <div class="col-xs-12 lr-form-item"  data-table="LR_Base_TempUser" >
        <div class="lr-form-item-title">联系方式<font face="宋体">*</font></div>
        <input id="F_Mobile" type="text" class="form-control" isvalid="yes" checkexpession="Mobile" />
    </div>
    <div class="col-xs-12" style="padding-left: 100px;">
        <div class="lr-form-item-title">健康证照片上传<font face="宋体">*</font></div>
        <div class="file">
            <input type="file" name="uploadFile" id="uploadFile">
        </div>
        <div class="text">
            大小不超过1M。
        </div>
    </div>
</div>
@Html.AppendJsFile( "/Views/LR_Content/script/lr-fileupload.js", "/Areas/LR_CodeDemo/Views/orderUsersDetail/Form.js" )
