.file {
    width: 26px;
    height: 32px;
    position: relative;
    overflow: hidden;
}

.file input {
    position: absolute;
    font-size: 120px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
}

.file img {
    width: 26px;
    height: 32px;
    cursor: pointer;
}

.text {
    text-align: center;
}
