<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlServer" connectionString="Server=.;Database=HotelManageSys;Uid=sa;Pwd=123"/>
  </connectionStrings>
  <appSettings>
    <add key="company" value="e11cb470-d79d-48d5-867a-36cf03ea8973"/>
  </appSettings>
</configuration>