@{
    ViewBag.Title = "替工管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap">
    <div class="col-xs-12 lr-form-item" data-table="LR_Base_TempUser">
        <div class="lr-form-item-title">姓名<font face="宋体">*</font></div>
        <input id="F_RealName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="LR_Base_TempUser">
        <div class="lr-form-item-title">联系方式</div>
        <input id="F_Mobile" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrNull" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="LR_Base_TempUser">
        <div class="lr-form-item-title">身份证号<font face="宋体">*</font></div>
        <input id="F_Identity" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="LR_Base_TempUser">
        <div class="lr-form-item-title">性别<font face="宋体">*</font></div>
        <div id="F_Gender" isvalid="yes" checkexpession="NotNull"></div>
    </div>
</div>
@Html.AppendJsFile( "/Areas/LR_CodeDemo/Views/tempUser/WorkSubstituteForm.js" )
